body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:linear-gradient(#bcbcbc, #636363);
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator{
    background-color: #414141;
    border: 1px solid #fcfcfc;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.455);
    border-color: rgba(208, 21, 21, 0);
}

#display{
    width: 250px;
    height: 40px;
    text-align: right;
    color:#fcfcfc;
    margin-bottom: 20px;
    font-size: 18px;
    padding: 5px;
    border-radius: rgb(255, 255, 255);
    background-color: #eeeeee00;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

button{
    width: 55px;
    padding: 15px;
    font-size: 18px;
    border:none;
    border-radius: 50%;
    background-color: rgb(183, 187, 216);
}

#img{
    width: 80%;
    align-items: center;
}

button:hover{
    background-color: #eee;
}

.equal{
    background-color: #ffffff;
}

.equal:hover{
    background-color: rgb(113, 246, 110);
}

.sinal:hover{
    background-color: rgb(255, 176, 66);
}